@model IEnumerable<PortfolioViewer.Models.Portfolio.MonthlyPerformance>


<table id="performanceTable" class="table table-striped table-hover">
	<thead class="thead-light">
		<tr>
			<th scope="col">Year</th>
			<th scope="col">Month</th>
			<th scope="col">Performance</th>
			@*<th scope="col">Benchmark Performance</th>*@
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

<canvas id="performanceCanvas" width="400" height="400"></canvas>

<script>
	var performanceList = @Html.Raw(Json.Encode(Model));

	var table = $("#performanceTable tbody");

	$.each(performanceList, function (i, d) {
		table.append(
			'<tr><td>' + d.Year +
			'</td><td>' + d.Month +
			'</td><td>' + d.Portfolio_Performance.toFixed(2) +
			'% (' + d.Benchmark_Performance.toFixed(2) + ')</td></tr>')
	});

	var rawDataPortfolio = []
	var rawDataBench = []
	var labels = []

	$.each(performanceList, (idx,obj) => {
		labels.push(obj.Month);
		rawDataPortfolio.push(obj.Portfolio_Performance.toFixed(2));
		rawDataBench.push(obj.Benchmark_Performance.toFixed(2));
	});

	var data = {
		labels: labels,
		datasets: [{
			label: '% of performance gains',
			fill: false,
			data: rawDataPortfolio,
			backgroundColor: 'rgba(100, 255, 132, 0.4)',
			borderColor: 'rgba(100,255,132,1)',
			borderWidth: 3
		},
		{
			label: '% of benchmark gains',
			fill: false,
			data: rawDataBench,
			backgroundColor: 'rgba(255, 99, 132, 0.2)',
			borderColor: 'rgba(255,99,132,1)',
			borderWidth: 3
		}]
	}

	var opt = {
		title: {
			display: true,
			text: 'Performance Graph'
		},
		tooltips: {
			mode: 'index',
			intersect: false,
		},
		hover: {
			mode: 'nearest',
			intersect: true
		}
	}

	var ctx = document.getElementById("performanceCanvas").getContext('2d');

	$(document).ready(function () {
		var chart = new Chart(ctx, {
			type: 'line',
			data: data,
			options: opt
		})
	})

</script>





