@model PortfolioViewer.Models.Portfolio.Portfolio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<PortfolioViewer.Models.Portfolio.Portfolio> portfolios = (IEnumerable<PortfolioViewer.Models.Portfolio.Portfolio>)ViewData["portfolios"];
}

@using (Html.BeginForm("CustomerPortfolio", "Portfolio", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        <div class="form-group">
            <h3>Select Portfolio:</h3>
            <select class="form-control" id="PortfolioSelect" name="Portfolio_ID">

                @foreach (var item in portfolios)
                {
                    <option value="@Html.DisplayFor(m => item.Portfolio_ID)">@Html.DisplayFor(m => item.Portfolio_Name)</option>
                }
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <input type="submit" value="Show Portfolio" class="btn btn-default" />
        </div>

    </div>

}



