@model IEnumerable<PortfolioViewer.Models.CustomDBUser>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")

<h2>Administrator panel:</h2>

<div class="row">
	<div class="col-lg-4">
		<table class="table" id="userTable">
			<thead class="thead-light">
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Role</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<div class="col-lg-4">
		<table class="table" id="userTableDetail">
			<thead class="thead-light">
				<tr>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>


<script>

	var userList = @Html.Raw(Json.Encode(Model));

	var table = $("#userTable tbody");

	$.each(userList, function (i, d) {
		table.append(
			'<tr><td><div id="' + d.ID + '" class="btn btn-primary user">'
			+ d.UserName +
			'</div><div id="'
			+ d.ID + 'Container"></div></td><td>'
			+ d.Role + '</td ></tr >');
	});

	function createTable() {
		var table = '<table class="table" id="userTableDetailed"><thead class="thead-light"><tr>' +
			'<th scope="col">First Name</th>' +
			'<th scope="col">Last Name</th>' +
			'<th scope="col"></th>' +
			'</tr></thead ><tbody>' +
			'</tbody></table>'
		return table;
	}


	 $(".user").click(function (event) {

        if ($(this).data('clicked')) {
            $('#' + event.target.id + 'Container').toggle(20)
        } else {
			$(this).data('clicked', true)

			$('#' + event.target.id + 'Container').append(createTable());
		}

    })

</script>
