@model IEnumerable<PortfolioViewer.Models.CustomDBUser>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")

<h2>Administrator panel:</h2>
<legend></legend>
<div class="row">
	<div class="col-lg-3">
		<table class="table" id="userTable">
			<thead class="thead-light">
				<tr>
					<th scope="col">User</th>
					<th scope="col">Role</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<div class="col-lg-8">
		<div id="userTableDetail"></div>
	</div>
</div>


<script>

	var userList = @Html.Raw(Json.Encode(Model));

	var table = $("#userTable tbody");

	$.each(userList, function (i, d) {
		table.append(
			'<tr><td><div id="' + d.ID + '" class="btn btn-primary user">'
			+ d.FirstName +' '+ d.LastName+
			'</div></td><td>'
			+ d.Role + '</td ></tr >');
	});


	 $(".user").click(function (event) {

		 if ($(this).data('clicked')) {
			  //$('#userTableDetail').toggle(20)
		 } else {
			 $(this).data('clicked', true)

			 $.ajax({
				 url: '@Url.Action("UserInfo", "Admin")',
				 data: { userID: event.target.id },
				 dataType: "html",
				 success: function success(result) {
					 $('#userTableDetail').html(result)
				 },
				 error: function error() {
					 alert("Error, no data");
				 }
			 });
		 }
	})




</script>
